:root{
    --color-primary-:#0B0D17;
    --color-secondary-:#D0D5F9;
    --color-accent-:#FFFFFF;
}


@font-face {
    font-family: 'barlow';
    font-weight: 400;
    src: local('barlow'), url('../fonts/barlow/BarlowCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'bellefair';
    font-weight: 400;
    src: local('bellefair'), url('../fonts/Bellefair/Bellefair-Regular.ttf') format('truetype');
}
.content2 {
    display: flex;
    flex-direction: column;
    line-height: 1.7rem;
    margin-top:2rem;
    
}

.text {
    text-align: center;
    width: 100%;
}

.main {
    width: 20rem;
    height: 20rem;
    border: none;
    border-radius: 100%;
    margin:auto;
    margin-top:6rem;
    transition:all linear 2s;
    font-size:3rem;
    font-family:bellefair
}

.main:hover {
    width:25rem;
    height:25rem;
    border: 3rem solid rgba(102, 101, 101, 0.36);
}



.heading {
    color:var(--color-secondary-);
    font-family: barlow;
    letter-spacing: 4.75px;
    font-size: 1.5rem;
    margin-top:9rem;
}

.topic2 {
    color:var(--color-accent-);
    font-family: bellefair;
    font-weight: 400;
    font-size: 7rem;
    margin-top:6rem;
}
.para2{
    color:var(--color-secondary-);
    width:80%;
    margin:auto;
    line-height: 3.9rem;
    font-family:barlow;
    font-size:1.6rem;
}



@media screen and (min-width:768px) and (max-width:1080px) {
    .content2 {
        line-height:0.2px;
        margin-top:2rem;
        
    }
    .heading {
        
        font-size: 7rem;
    }
    
    .topic2 {

        font-size: 10rem;
    }
    .para2{
        width:40rem;
        font-size:1.5rem;
    }


}

@media screen and (min-width:1080px) and (max-width:1400px) {

    .content2 {
        flex-direction: row;
    }
    .text{
        text-align:left;
        line-height:0.001px;
    }
    .heading {
        margin-left:5rem;
        font-size: 1.6rem;
    }
    
    .topic2 {
        margin-left:5rem;
        margin-bottom:5rem;
        font-size: 9rem;
    }
    .para2{
        margin-left:5rem;
        font-size:1.3rem;
        line-height:2.7rem;
        width:30rem;
    }

    .main{
        width:15rem;
        height:15rem;
        margin-top:10rem;
        margin-right:5rem;
        font-size:1.5rem;
        padding:3rem;
    }
    .main:hover {
        width:24rem;
        height:24rem;
        border: 3rem solid rgba(102, 101, 101, 0.36);
    }
}